/* BODY */
body{
    font-family: 'Rubik', sans-serif;
}
/* NAV BAR */

nav img{
    padding-left: 70px;
}

nav a{
    font-weight: 600;
    text-align: justify;
    margin : 0px 10px
}


.signInUp{
    padding-right: 70px;
}

.signIn{
    font-size: 20px;
    font-weight: 700;
    padding-right: 30px; 
    padding-top: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

.signIn:hover{
    color: #f53855;
    cursor: pointer;
}

.signUp{
    padding: 8px 30px;
    border: 2px solid #f53855;
    color: #f53855;
    font-weight: 700;
}

.signUp:hover{
    color: white;
    background-color: #f53855;
    transition: all 0.4s;
}

/* FIRST PART */
.first-part h1{
font-weight: 600;
}

.first-part .left-half h1{
    margin-top: 30%;
    margin-bottom: 40px;
}


.first-part .left-half .lasles{
    font-weight: 900;
}

.first-part .left-half p span{
    font-weight: 600;
}

.first-part a{
    background-color: #f53838;
    border: none;
    padding: 17px 70px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 30px 30px #d3777781;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    margin-top: 30px;
}

.first-part a:hover{
    background-color: white;
    border: none;
    padding: 17px 70px;
    border-radius: 10px;
    color: #f53838;
    box-shadow: 0px 10px 20px black;
    transition: all 0.3s;
    font-weight: 600;
}

.first-part img{
    margin-top: 25%;
}

/* SECOND PART */

.second-part{
    margin-top: 10%;
    margin-bottom: 5%;
}

.second-part i{
    color: #f53838;
    background-color: #f5d2d6;;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
}

/* THIRD PART*/
.third-part h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 10%;
}

.third-part i{
    color: #f53838;
    font-size: 20px;
    padding-top: 10px;
}

/* FORTH PART*/
.forth-part{
    text-align: center;
    padding-bottom: 5%;
}


.forth-part h3{
    font-weight: 600;
    padding-top: 10%;
   
}

.card-section {
    display: flex;
    justify-content: center;
}

.card-section .card{
    margin: 3%;
    padding: 2%;
}

.card-section .card:hover{
        border: 1px solid #f53838;
        transition: all 0.4s;
}

.card-section h5{
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    }

.card-section p{
    text-align: justify;
    }

.card-section i{
        font-size: 22px;
        color: #f53838;
    }    

.card-section .package{
   margin-top: 30%;
}

.card-section .package h4{
    font-weight: 700;
    
}

.card-section .package a{
    padding: 8px 30px;
    border: 2px solid #f53855;
    color: #f53855;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.card-section .package a:hover{
    color: white;
    background-color: #f53855;
    transition: all 0.4s;
}
 

/* FIFTH PART */


.media-partnar img{
    
    opacity: 50%;
    transition: all 0.5s ease-in;
    filter: grayscale(100%);
}

.media-partnar img:hover{
    opacity: 100%;
    filter: none;
    transition: all 0.4s;
}


/* SIXTH PART*/

/* SEVENTH PART*/
.seventh-part a{
    background-color: #f53838;
    border: none;
    padding: 17px 70px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 30px 30px #d3777781;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    margin-top: 30px;
}

.seventh-part a:hover{
    background-color: white;
    border: none;
    padding: 17px 70px;
    border-radius: 10px;
    color: #f53838;
    box-shadow: 0px 10px 20px black;
    transition: all 0.3s;
    font-weight: 600;
}



/* FOOTER PART */

 .social-media a{
    border:  1px solid gray;
    padding: 3%;
    margin-right: 5%;
    border-radius: 50%;
    color: #f53838;
    /* margin-left: 5%; */
    box-shadow: 0px 0px 8px black;
}

.social-media a:hover {
    color: white;
    background-color: #f53838;
    transition: all 0.4s;
   
}

footer li a{
    text-decoration: none;
    /* color: gray; */
}